
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');



.App {
  text-align: center;
  background-color: #f8f1ff;
  max-width: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #534d56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.kauppaid{
  font-family: 'Josefin Slab', serif;
  
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

h2{
  padding: 1.3em;
}

h1{
  padding-bottom: 0.7em;
}

.carousel img{
  margin: auto;
  height: 500px;
  align-items: center;
  padding-top: 3em;
}

.carousel-caption h5{
  font-size: 1.5em;
  color: white;
}

.carousel-caption p{
  font-size: 1.5em;
  color: rgb(255, 163, 163);
}

.col-4{
  padding: 2em;
}

.blogi{
  background-image: url("../public/Kuvat/blogi.jpg");
  background-position: center;
  background-size:cover;
  border: 5px solid black;
  height: 13em;
  width: 15em;
  border-radius: 15px;
  font-size: 1.5em;
}

.suosittelut{
  background-image: url("../public/Kuvat/Suosittelut.jpg");
  background-position: center;
  background-size:contain;
  margin-top: 1em;
  height: 10em;
  width: 15em;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 1.5em;
}

.suosittelut{
  height: 15em;
}

footer{
  background-color: #cca7fc;
  height: 10em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Carouselin pelien nimet ja kuvaukset alalaitaan */

.pelinimi {
  position: relative;
  top: 60px;
  background: rgba(255, 0, 0, 0.5) /* Pelin otsikon taustaväri */
}

.kuvaus {
  position: relative;
  top: 60px;
  background: rgba(0, 0, 0, 0.6) /* Pelin kuvauksen taustaväri */
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #534d56;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}