
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Mukta:wght@500&display=swap');



.App {
text-align: center;
background-image: url("../public/Kuvat/Tausta2.png");  
background-position: center;
background-size:cover;
max-width: 100%;
}

.dropdown-menu.show{
  margin-left: 9em;
}

.navbar-brand {
  padding-left: 2em;  
}

.OstoskoriKuvake{
  width: 3em;
  padding-top: 50px;
  margin-left: 8em;
}
.OstoskoriLuku{
  font-size: 30px;
}

#Ostoskori{
  float: right;
  position: absolute;
  margin-left: 20em;
  margin-top: 40px;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #534d56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.kauppaid{
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

h2{
  padding: 1.3em;
}

.lautapelikauppa{
  font-size: 30px;
  letter-spacing: .2rem;
  font-family: 'Mukta', sans-serif;
}

.weleho{
  font-family: 'Josefin Slab', serif;
  font-size: 2.2em;
}

h1{
  padding-bottom: 0.1em;
  font-size: 30%;
}

/* SIDEBAR */
#sidebar{
  border-style: solid;
  border-color: #F8F1FF;
  background-color: #F8F1FF;
  font-size: 25px;
  width: 15em;
  margin-left: -80px;
  margin-top: 20%;
  border-width: 20px;
  border-radius: 15px;
  height: 95%;
}
#sivukategoria{
  border-style: solid;
  border-color: #F8F1FF;
  background-color: #F8F1FF;
  height: 14%;
  text-decoration: solid #363138 underline;
  font-size: 2em;

}
#kategoriaTxt{
  color:#363138
}
/* CAROUSEL */
#carousel{
  margin-left: 120px;
  border-style: solid;
  border-color: #F8F1FF;
  border-radius: 15px;
  border-width: 20px;
  margin-top: 3%;
  padding-top: 60px;
  background-color: #36313857;
}
.carousel img{
  margin: auto;
  height: 480px;
  align-items: center;
  margin-top: 10%;
}
.carousel-caption h5{
  font-size: 1.5em;
  color: white;
}
.carousel-caption p{
  font-size: 1.5em;
  color: rgb(255, 163, 163);
}
/* ALE */

#aletuote{
  border-style: solid;
  color: #F8F1FF;
  margin-left: 10px;
  border-width: 20px;
  background-color: #F8F1FF;
  border-radius: 15px;
  margin-top: 40px;
}
.ale{
  width: 10em;
  margin-left: 20%;
}
#alekuva{
  height: 10em;
}

.container-tuote{
  margin-left: 1em;
  margin-top: 1em;
  padding: 5px;
  width: 270px;
  height: 470px;
  max-height: 550px;
  float: left;
  background-color: white;
}

.tuotekuva{
  height: 200px;
  max-width: 250px;
}

.col-4{
  padding: 2em;
}

.container{
  padding-bottom: 2em;
}
/* Weleho-logo */

.logo {
  padding-left: 50px;
  width: 120%;
}

/* Liila pallo-logo */

.pallo {
  width: 85px;
  padding-bottom: 25px;
}

/* BLOGI */
#uutiset{
  background-image: url("../public/Kuvat/blogi.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  border-width: 10px;
  height: 15em;
  width: 100px;
  font-size: 1.5em;
  margin-top: 40px;
  color: #F8F1FF;
  text-align:justify;
  width: 3em;
}
#uutiset:hover{
  box-shadow: 0px 0px 15px rgb(121, 23, 80);
}

/* SUOSITTELUT */
#suosittelut{
  background-image: url("../public/Kuvat/Suosittelut1.png");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 15em;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  border-width: 10px;
  font-size: 1.5em;
  margin-top: 40px;
  margin-right:20px;
  color: #F8F1FF;
  text-align:justify;
}
#suosittelut:hover{
  box-shadow: 0px 0px 15px rgb(121, 23, 80);
}
#feedback{
  background-image: url("../public/Kuvat/mailbox-1819966_960_720.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  border-width: 10px;
  height: 15em;
  width: 100px;
  font-size: 1.5em;
  margin-top: 40px;
  margin-right:20px;
  color: #F8F1FF;
  text-align:justify;
  width: 3em;
}
#feedback:hover{
  box-shadow: 0px 0px 15px rgb(121, 23, 80);
}
/* FAQ */
.kysymys{
  padding: 1em;
}

.accordion-body, .accordion-header, button.accordion-button, button.accordion-button.collapsed{
  color: #656176;
  background-color: #F8F1FF;
  font-family:'Mukta', sans-serif;
  font-size: 20PX;
}
.accordion-header:hover{
  background-color: #bf91fc;
}
.accordion-header{
  padding: 20px;
}

/* FOOTER */ 
footer{
  background-color: #cca7fc;
  text-align: center;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
}
.alalogo{
  height: 160px;
  margin-top: -3%;
  padding-left: 50%
}
#oikea{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 65px;
  height: 60px;
  text-align:inherit;
  text-decoration: none;
  border-radius: 50%;
  padding: 4%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #f001947c;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffb1cda;
  color: white;
}
#OstoskoriTuote{
  padding-top: 2em;
  padding-bottom: 2em;
  border: 5px solid black;
  border-radius: 15px;
}
#OstoskoriTuote img{
  width: 6em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Carouselin pelien nimet ja kuvaukset alalaitaan */

.pelinimi {
  position: relative;
  top: 60px;
  background: rgba(109, 3, 109, 0.5) /* Pelin otsikon taustaväri */
}

.kuvaus {
  position: relative;
  top: 60px;
  background: rgba(0, 0, 0, 0.6) /* Pelin kuvauksen taustaväri */
}

#navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #534d56;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

#link{
  font-size: 1.5em;
  margin: 50px;
}

#navbarScrollingDropdown{
  font-size: 1.5em;
  padding-left: 6em;
}

/* Dropdownin lautapelit-kategoria */

.nav-lautapelit {
  position: relative;
  text-align: justify;
}

#footer {
  margin: 0%;
  width: 100%;
  padding: 0%;
}
.container {
  max-width: none !important;
}
#dropdown {
  margin-left: 0%;
}