.App {
  text-align: center;
  background-color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  padding: 1.5em;
}

.carousel img{
  margin: auto;
  height: 500px;
  align-items: center;
  padding-top: 3em;
}

.carousel-caption h5{
  font-size: 1.5em;
  color: white;
}

.carousel-caption p{
  font-size: 1.5em;
  color: rgb(255, 163, 163);
}

.col-4{
  padding: 2em;
}

.blogi{
  background-color:blanchedalmond;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 1.5em;
}

.suosittelut{
  background-color: bisque;
  margin-top: 1em;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 1.5em;
}

.suosittelut{
  height: 15em;
}

footer{
  background-color: aqua;
  height: 6em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Carouselin pelien nimet ja kuvaukset alalaitaan */

.pelinimi {
  position: relative;
  top: 60px;
}

.kuvaus {
  position: relative;
  top: 60px;
}